* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Calypso;
    src: url("../fonts/Calypso.ttf") format("truetype");
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: #6B5E53;
    background-color: #ece8e4;
}

.container {
    padding-left: 144px;
    padding-right: 144px;
}

/*.logo {
    font-family: Calypso, serif;
    text-decoration: none;
    color: #6B5E53;
    text-transform: uppercase;
    font-size: 16px;
    !*line-height: 0.05;*!
    !*word-wrap: normal;*!
    !*width: 52px;*!
}*/

/*.logo-content {
    font-size: 30px;
}

.list-menu {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    !*border: #05A88D solid;*!
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    font-size: 14px;
    !*border: #D89B82 solid;*!
}

.menu-item + .menu-item {
    margin-left: 24px;
}

.list-arrow {
    width: 12px;
}

.menu-link {
    text-decoration: none;
    color: #6B5E53;
}

.cart-ref {
}

.cart {
    height: 35px;
}*/

/*.header-wrapper {*/
/*    width: 100%;*/
/*    display: contents;*/
/*}*/

/*.header {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
!*border: #8760da solid;*!
}*/

.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max-content 144px;
    grid-template-areas:
      "img1 title title"
      "img1 text img2"
      ". . img2";
    grid-column-gap: 2em;
}

.home__img-1 {
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 50% 0 0 0;
    max-width: 100%;
}

.home__title {
    grid-column: span 2;
    align-self: end;
}

.home__title-name {
    text-transform: uppercase;
    color: #754C2F;
    font-size: 16px;
}

.home__title-h1 {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 73px;
    text-transform: uppercase;
    color: #754C2F;
}

.home__description {
    font-size: 16px;
    align-self: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: #754C2F;
}

.link img {
    width: 42px;
    /*margin-left: 15px;*/
    /*vertical-align: middle;*/
}

.link span {
    /*vertical-align: middle;*/
}

.home__img-2 {
    grid-row-end: span 2;
    border-radius: 45% 45% 0 0;
    max-width: 100%;
    align-self: end;
}


.popular {
    padding: 144px 0;
}

.popular-row {
    display: flex;
    overflow: auto;
}

.popular-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-number {
    font-size: 16px;
}

.popular-title {
    margin-top: 130px;
}

.title {
    font-family: 'Calypso', serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #754C2F;
    white-space: nowrap;
}

.left-arrow {
    width: 3vw;
    vertical-align: middle;
    margin-right: 1vw;
}

.right-arrow {
    width: 3vw;
    vertical-align: middle;
    margin-left: 1vw;
}

.popular-cards {
    display: flex;
    margin-left: 106px;
}

.popular-card {
    /*border: #8760da solid;*/
    width: 262px;
    background-color: #f6f3ef;
    display: flex;
    flex-direction: column;
    height: 430px;
    text-align: center;
}

.popular-card-ref {

}

.popular-card img {
    width: 100%;
    height: 340px;
}

.popular-card + .popular-card {
    margin-left: 32px;
}

.popular-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.popular-card-title {
    text-transform: uppercase;
    font-size: 16px;
}

.popular-card-price {
    font-size: 16px;
    margin-top: 6px;
}

.about {
    background: url("../img/about/background-3.jpg") center;
    background-size: cover;
    padding: 146px 0;
}

.motto {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 50px;
    text-transform: uppercase;
    color: #754C2F;
    margin-top: 74px;
    text-align: center;
}

.about-content-row {
    display: flex;
    justify-content: flex-end;
}

.about-content {
    margin-top: 57px;
    max-width: 362px;
    text-align: left;
}

.about-content-text {
    font-size: 16px;
}

.about-more {
    margin-top: 44px;
}

.catalog {
    background-color: #2c2825;
    padding: 145px 0;
}

.catalog-title {
    /*font-family: 'Calypso', serif;*/
    /*font-weight: 500;*/
    /*font-size: 24px;*/
    /*text-transform: uppercase;*/
    color: #f6f3ef;
    /*white-space: nowrap;*/
}

.catalog-cards {
    display: flex;
    /*margin-left: 106px;*/
    margin-top: 78px;
    margin-bottom: 42px;
    /*justify-content: space-between;*/
    column-gap: 30px;
    overflow: auto;
}

.catalog-card {
    height: 536px;
    background-color: #f6f3ef;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: space-between;*/
    padding: 16px;
    row-gap: 42px;
}

.catalog-card img {
    width: 328px;
    height: 399px;
}

.candle-holder {
    border-radius: 50%;
    margin-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

.catalog-items-number {
    font-size: 16px;
    color: #f6f3ef;
    text-align: center;
}

.catalog-card-content {
}

.catalog-card-title {
    color: #6B5E53;
    font-family: Calypso, serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
}

.masterclasses {
    padding: 145px 0;
}

.masterclasses-row {
    display: flex;
    column-gap: 32px;
    margin-top: 74px;
}

.masterclasses-column-1 {
    float: left;
    display: flex;
    flex-direction: column;
    row-gap: 143px;
}

#motto-mc {
    margin-top: 0;
    text-align: left;
}

.masterclass-img-1 {
    width: auto;
    max-height: 500px;
}

.masterclass-img-2 {
    width: 100%;
    height: auto;
}

.masterclasses-column-2 {
    /*width: 100%;*/
}

.masterclasses-content {
    margin-top: 68px;
}

.subscription {
    background-color: #e1dcd9;
    padding: 105px 0;
}

.sub-row {
    display: flex;
    column-gap: 210px;
    margin-top: 55px;
}

.motto-sub {
    text-align: left;
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 46px;
    color: #754C2F;
}

.subscription input {
    background-color: #E1DCD9;
    padding: 20px;
    color: #8c847a;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
}

.subscription input::placeholder {
    color: #8c847a;
    font-weight: 400;
}

.subscription-email {
    color: #8c847a;
}

.subscription-email .email-input {
    display: flex;
    justify-content: space-between;
    border: #8c847a solid 1px;
    margin-top: 13px;
    align-content: center;
}

.subscription-email button {
    background-color: #E1DCD9;
    cursor: pointer;
    border: none;
}

.subscription-email img {
    width: 3vw;
    vertical-align: middle;
    margin-right: 1vw;
}

.subscription-email input[type=checkbox] {
    margin-top: 20px;
}

.sub-checkbox {
    /*position: absolute;*/
}

.label-check {
    /*position: relative;*/
    /*padding-left: 20px;*/
}

.inst {
    padding-top: 144px;
    padding-bottom: 138px;
}

.inst .container {
}

.list-images {
    display: flex;
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
}

.image-item {
    height: 320px;
}

.inst-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer-column {
    border-top: 2px solid #6B5E53;
    padding-top: 56px;
    margin-bottom: 24px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: flex;
    column-gap: 104px;
}

.footer-item {

}

.footer-item-title {
    text-transform: uppercase;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-top: 30px;
    list-style: none;
}

.footer-col-row {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.foot-row-link {
    color: #6B5E53;

}