* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Calypso;
    src: url("../fonts/Calypso.ttf") format("truetype");
}

:root {
    --color-bg: #ece8e4;
    --color-arrow-bg: #6B5E53;
    --color-text: #754C2F;
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: var(--color-arrow-bg);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
}

.container, .container-header, .container-home {
    padding-left: 144px;
    padding-right: 144px;
}

.container {
    padding-top: 144px;
    padding-bottom: 144px;
}

.container-home {
    padding-top: 64px;
}

.container-header {
    margin-top: 24px;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: auto;
}

.header__nav-toggle-btn {
    display: none;
}

.header nav li {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-arrow-bg);
    text-decoration: none;
    list-style: none;
    display: block;
}

.logo {
    font-family: Calypso, serif;
    text-decoration: none;
    color: var(--color-arrow-bg);
    text-transform: uppercase;
    font-size: 1rem;
}

.logo a {
    color: var(--color-arrow-bg);
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.25rem;
}

.logo__img {
    background: url("/img/icons/logo-vase.svg");
    background-size: 24px 40px;
    display: inline-block;
    height: 40px;
    width: 24px;
}

.menu-link {
    text-decoration: none;
    color: var(--color-arrow-bg);
    padding-left: 1em;
    padding-right: 1em;
}

.dropdown-link::after {
    vertical-align: middle;
    content: "";
    display: inline-block;
    background: var(--color-arrow-bg);
    width: 16px;
    height: 12px;
    -webkit-mask-image: url("/img/icons/list-arrow.svg") ;
    -webkit-mask-repeat: no-repeat;
}


.header__cart-btn {
    height: 32px;
    width: 32px;
    background-size: contain;
    border: 0;
    background-color: transparent;
    background-image: url("/img/icons/basket.png");
    cursor: pointer;
}

.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max-content 144px;
    grid-template-areas:
      "img1 title title"
      "img1 text img2"
      ". . img2";
    grid-column-gap: 2em;
}

.home__img-1 {
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 50% 0 0 0;
    max-width: 100%;
}

.home__title {
    grid-column: span 2;
    align-self: end;
}

.home__title-name {
    text-transform: uppercase;
    color: var(--color-text);
    font-size: 16px;
}

.home__title-h1 {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 74px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-top: 8px;
}

.home__description {
    font-size: 16px;
    align-self: center;
    z-index: -1;
}

.link {
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
}

.link::after {
    vertical-align: middle;
    content: "";
    display: inline-block;
    background: var(--color-text);
    width: 48px;
    height: 16px;
    margin-left: 1em;
    -webkit-mask-image: url("/img/icons/arrow-right.svg") ;
    -webkit-mask-repeat: no-repeat;
}

.home__img-2 {
    grid-row-end: span 2;
    border-radius: 45% 45% 0 0;
    max-width: 100%;
    align-self: end;
}
