* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Calypso;
    src: url("../fonts/Calypso.ttf") format("truetype");
}

:root {
    --color-bg: #ece8e4;
    --color-bg-lighter: #f6f3ef;
    --color-bg-darker: #e1dcd9;
    --color-text-main: #6B5E53;
    --color-text-main-light: #9f978d;
    --color-text-placeholder: #8c847a;
    --color-text-main-dark: #443a30;
    --color-text-title: #754C2F;
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
    max-width: 2423px;
    margin: 0 auto;
}

.container, .container-header, .container-home {
    padding-left: 144px;
    padding-right: 144px;
}

.container {
    padding-top: 144px;
    padding-bottom: 144px;
}

.container-home {
    padding-top: 64px;
}

.container-header {
    margin-top: 24px;
}

.title {
    font-family: 'Calypso', serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #754C2F;
}

/*header section*/

.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: auto;
}

.header__nav-toggle-btn {
    display: none;
}

.header nav li {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-text-main);
    text-decoration: none;
    list-style: none;
    display: block;
}

.logo a {
    font-family: Calypso, serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-text-main);
    text-decoration: none;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.25rem;
}

.logo__img {
    background: url("../img/icons/logo-vase.svg");
    background-size: 24px 40px;
    height: 40px;
    width: 24px;
}

.header__nav-link {
    text-decoration: none;
    color: var(--color-text-main);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__nav-link_dropdown::after {
    vertical-align: middle;
    content: "";
    display: inline-block;
    background: var(--color-text-main);
    width: 16px;
    height: 12px;
    -webkit-mask-image: url("../img/icons/list-arrow.svg");
    -webkit-mask-repeat: no-repeat;
}

.header__dropdown-menu {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: var(--color-bg-lighter);
    padding: 16px;
}

.header__dropdown-container {
    margin-top: 8px;
}

.header__dropdown:hover .header__dropdown-menu {
    display: block;
}

.header__dropdown-menu a {
    display: block;
    color: var(--color-text-main);
    text-decoration: none;
    text-align: left;
    text-transform: capitalize;
}

.header__dropdown-menu li + li {
    padding-top: 8px;
}

.header__dropdown-menu a:hover {
    color: var(--color-text-main-dark);
}

.header__cart-btn {
    height: 32px;
    width: 32px;
    background-size: contain;
    border: 0;
    background-color: transparent;
    background-image: url("../img/icons/basket.png");
    cursor: pointer;
}


/*home section*/

.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max-content 144px;
    grid-template-areas:
      "img1 title title"
      "img1 text img2"
      ". . img2";
    grid-column-gap: 2rem;
}

.home__img-1 {
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 50% 0 0 0;
    max-width: 100%;
}

.home__title {
    grid-column: span 2;
    align-self: end;
}

.home__title-name {
    text-transform: uppercase;
    color: var(--color-text-title);
    font-size: 16px;
}

.home__title-h1 {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 74px;
    text-transform: uppercase;
    color: var(--color-text-title);
    margin-top: 8px;
}

.home__description {
    font-size: 16px;
    align-self: center;
    z-index: 0;
}

.link-arrow {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text-title);
    position: relative;
}

.home__link {
    margin-top: 2rem;
}

.link-arrow::after {
    content: "";
    display: inline-block;
    width: 44px;
    height: 16px;
    margin-left: 0.8rem;

    background: var(--color-text-title);
    background-position: center center;

    -webkit-mask-image: url("../img/icons/arrow-right.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;

    position: absolute;
    /*display: block;*/
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.home__img-2 {
    grid-row-end: span 2;
    border-radius: 45% 45% 0 0;
    max-width: 100%;
    align-self: end;
}


/*popular section*/

.popular {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "title cards"
      "arrows cards";
    grid-column-gap: 6.5rem;
}

.popular__navigation {
    font-size: 16px;
}

.popular__title-name {
    margin-top: 128px;
    max-width: 190px;
    overflow-wrap: break-word;
}

.popular__pagination {
    color: var(--color-text-main-light);
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

.popular__current-slide {
    color: var(--color-text-main);
}

.popular__navigation {
    display: flex;
    align-items: center;
}

.arrow-btn {
    content: "";
    display: inline-block;
    background: var(--color-text-main-light);
    width: 48px;
    height: 16px;
    border: 0;
    cursor: pointer;
}

.arrow-btn_right {
    -webkit-mask-image: url("../img/icons/arrow-right.svg");
    -webkit-mask-repeat: no-repeat;
}

.arrow-btn_left {
    -webkit-mask-image: url("../img/icons/arrow-left.svg");
    -webkit-mask-repeat: no-repeat;
}

.popular__cards {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    overflow: auto;
}

.card {
    background-color: #f6f3ef;
    text-align: center;
    position: relative;
}

.card a {
    display: block;
    width: 100%;
}

.card img {
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px 48px;
    font-size: 15px;
}

.card-title {
    text-transform: uppercase;
    white-space: nowrap;
}

.card-price {
    margin-top: 8px;
}


/*about us section*/

.about {
    background: url("../img/about/background-vases-short-3.jpg") no-repeat bottom center;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.motto {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 48px;
    text-transform: uppercase;
    color: #754C2F;
    text-align: center;
}

.about__motto {
    margin-right: 56px;
    margin-left: 56px;
    margin-top: 74px;
}

.about__content {
    margin-top: 56px;
    max-width: 362px;
    align-self: end;

    text-align: left;
}

.about__content-text p + p {
    margin-top: 24px;
}

.about__link {
    margin-top: 44px;
}

.about__content-text {
    font-size: 16px;
}


/*masterclasses section*/

.masterclasses__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto auto;
    grid-template-areas:
            "motto img1"
            "img2  img1"
            "img2  text";
    grid-column-gap: 2rem;

    margin-top: 74px;
}

.masterclasses__motto {
    padding-right: 96px;
    padding-bottom: 144px;
    text-align: center;
}

.masterclasses__img-class {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;

    max-width: 100%;
}

.masterclasses__img-potter {
    grid-row-start: 2;
    grid-row-end: span 2;

    max-width: 100%;
    align-self: end;
}

.masterclasses__text-content {
    padding-bottom: 56px;
    max-width: 100%;
}

.masterclasses__text-content p + p {
    margin-top: 2rem;
}

.masterclasses__link {
    margin-top: 44px;
}

/*subscription section*/

.subscription {
    background-color: var(--color-bg-darker);
    padding-top: 104px;
    padding-bottom: 104px;
}

.subscription__content {
    display: flex;
    column-gap: 208px;
    margin-top: 56px;
}

.subscription__motto {
    font-family: Calypso, serif;
    font-weight: lighter;
    font-size: 45px;
    color: var(--color-text-title);
}

.form-text-input {
    background-color: transparent;
    color: var(--color-text-placeholder);
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 20px;
}

.subscription__form {
    border: #8c847a solid 1px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
}

.subscription__btn {
    background-color: var(--color-text-main);
    align-self: center;
    margin-right: 24px;
}

.subscription__checkbox {
    margin-top: 24px;
    display: flex;
    align-items: start;
}

.form-checkbox-input {
    display: inline-block;
}

.form-checkbox-input + label {
    margin-left: 8px;
    display: inline-block;
}


/*inst section*/
.inst {
    padding-top: 144px;
    padding-bottom: 138px;
}
.inst .container {
}
.inst-title {
    display: flex;
    justify-content: space-between;
}


/*footer*/

.footer-column {
    border-top: 2px solid #6B5E53;
    padding-top: 56px;
    margin-bottom: 24px;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-items {
    display: flex;
    flex-direction: row;
    column-gap: 104px;
}
.footer-item {
}
.footer-item-title {
    text-transform: uppercase;
}
.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-top: 30px;
    list-style: none;
}
.footer-col-row {
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foot-row-link {
    color: #6B5E53;
}